@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<maloo-radio-group>
    <maloo-radio>Opt A</maloo-radio>
    <maloo-radio>Opt B</maloo-radio>
    <maloo-radio>Opt C</maloo-radio>
</maloo-radio-group>
